@model Customer
@{
    ViewData["Title"] = "Accounts and ATM Operations";
}

<div class="text-center">
    <h1 class="display-4">ATM Operations</h1>
    <h1 class="display-4">Welcome, @Model.Name</h1>




    <h2>Your Accounts</h2>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th>Actions</th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>
                    @if (account.AccountType == "S")
                    {
                        @:Savings
                    }
                    else if (account.AccountType == "C")
                    {
                        @:Checking
                    }
                    else
                    {
                        @:Unknown
                    }
                </td>
                <td>@Html.DisplayFor(x => account.Balance)</td>
                <td>
                    <a class="btn btn-primary" asp-action="Deposit" asp-route-id="@account.AccountNumber">Deposit</a>
                    <a class="btn btn-primary" asp-action="Withdraw" asp-route-id="@account.AccountNumber">Withdraw</a>
                    <a class="btn btn-primary" asp-action="Transfer" asp-route-id="@account.AccountNumber">Transfer</a>
                    <a class="btn btn-primary" asp-controller="BillPay" asp-action="Index" asp-route-id="@account.AccountNumber">BillPay</a>
                </td>
            </tr>
        }
    </table>
</div>
